*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
menu-section{
    width: 100%;
    padding: 50px 0;
    background-color: rgb(255, 255, 255);
}

#menu-section .section-title{
    text-align: center;
    font-size: 2 rem;
    padding: 10px 0 30px;
}
#menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 110px;
    background-color: rgb(226, 2, 226);
}
#menu-section .menu-list .menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(83%/3 - 110px);
    gap: 40px;
}
#menu-section .menu-list .menu-item  .menu  -imgen{
   max-width: 83%;
    border-radius: 1px;
   
}
#menu-section .menu-list .menu-item p{
    text-align: center;
}