*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#menu-section .section-title{
    text-align: center;
    font-size: 2 rem;
    padding: 10px 0 30px;
}
#menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
#menu-section .menu-list .menu-item{
    width: calc(100%/3 - 32px);
}
#menu-section .menu-list .menu-item  .menu  -imgen{
    width: 100%;
    height: 400px;
    border-radius: 30px;
   

}